# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3

# VS Code
.vscode/
.idea/
*.swp
*.swo

# Test/coverage
htmlcov/
.coverage
.cache/
.pytest_cache/
*.log


# Virtual Environments
venv/
.env_venv/
.virtualenv/


# Locust
*.csv
*.stats

# OS
.DS_Store
Thumbs.db

# Docker artifacts
*.tar

# Logs
logs/
queryrunner.log
*.log
